.center {
    float: left;
    background-color: lightblue;
    width: 600px;
}
.right {

    float: left;
    background-color: lightcoral;
}
nav {
    float: left;
    background-color:lightgreen;
}
footer {
    float:  left;
    background-color: brown; 
    color: white;
    width: 100%;
    height: 100px;
 }
 .webpage {
     width: auto;
 }