.left {
    float: left;
    background-color:lightgreen;
}

.center {
    float:left;
    background-color: lightblue;
}

.right {
    float: right;
    background-color: lightcoral;
}

footer {
   background-color: brown; 
}