.left {
    float: left;
    clear:none;
    background-color:lightgreen;
}

.center {
    float: right;
    clear: both;
    background-color: lightblue;
}

.right {
    float: left;
    background-color: lightcoral;
}

footer {
   background-color: brown; 
   color: white;
}
.goras {
    background-color: lightblue;
}