.left {
    float: left;
    clear:both;
    background-color:lightgreen;
}

.center {
    /*float: left;*/
    clear: right;
    background-color: lightblue;
}

.right {
    float: right;
    background-color: lightcoral;
}

footer {
   background-color: brown; 
   color: white;
  
}