.left {
    float: left;
    background-color:lightgreen;
}

.center {
    float: none;
    background-color: lightblue;
}

.right {
    float: none;
    background-color: lightcoral;
}

footer {
   background-color: brown; 
   color: white;
   float: inline-end;
}